<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Currency Rate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="4" offset="4">
        <ion-img src="../../assets/logo.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Edit Currencies
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Currency 1</ion-label>
              <ion-select disabled value="USD">
                <ion-select-option value="USD">USD</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Currency 2</ion-label>
              <ion-select #cr2 value="TND"> // Template Reference
                <ion-select-option value="EUR">Euro</ion-select-option>
                <ion-select-option value="GBP">Livre sterling</ion-select-option>
                <ion-select-option value="JPY">Yen Japonais</ion-select-option>
                <ion-select-option value="CNY">Yuan chinois</ion-select-option>
                <ion-select-option value="TND">Dinar tunisien</ion-select-option>
                <ion-select-option value="EGP">Livre égyptien</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-button (click)="convert(cr2)" class="ion-margin-vertical" color="success" expand="block">Convert
            </ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="show" class="ion-margin">
    <strong>Today, 1 USD worth {{ taux }} {{ cr2.value }}
    </strong>
  </div>

</ion-content>